{% extends 'blog/base.html' %}

{% block content %}

{% if error %}
<div class="container">
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
</div>
<br>
<br>
{% endif %}
<h1>Login</h1>
<form class="" action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  Username:
  <br>
  <input type="text" name="username" value="">
  <br>
  Password:
  <br>
  <input type="password" name="password" value="">
  <br>
  <br>

  <input class="btn btn-primary" type="submit" name="" value="Login">
</form>

{% endblock %}
