{% extends 'blog/base.html' %}

{% block title %}
- {{ post.title }}
{% endblock %}

{% block news%}
<div class="banner-content">
  <h1 class="text-white text-uppercase mb-10">{{ news.title }}</h1>
  <p class="text-white mb-30">{{ news.text }}</p>
  <a href="{{ news.link }}" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
</div>
{% endblock %}

{% block content %}

  <div class="entity_wrapper">
      <div class="entity_title">
          <h1><a href="#">{{ post.title }}</a></h1>
      </div>
      <!-- entity_title -->

      <div class="entity_meta"><a href="#" target="_self">{{ post.date }}</a>, by: <a href="#" target="_self">{{ post.post_by }}</a> Category: <a href="{% url 'list_of_post_category' post.category.slug %}">{{ post.category }}</a>
      </div>


      <div class="entity_thumb">
          <img class="img-responsive" src="{{ post.image.url }}" height="200" width="350" alt="feature-top">
      </div>
      <!-- entity_thumb -->

      <div class="entity_content">
          <p>
              {{ post.text | safe }}
          </p>
      </div>
      <!-- entity_content -->

      <div class="entity_footer">
          <div class="entity_tag">
              <span class="blank"><a href="#">Tech</a></span>
              <span class="blank"><a href="#">Transport</a></span>
              <span class="blank"><a href="#">Mobile</a></span>
              <span class="blank"><a href="#">Gadgets</a></span>
          </div>
          <!-- entity_tag -->

          <div class="entity_social">
              <span><i class="fa fa-share-alt"></i>424 <a href="#">Shares</a> </span>
              <span><i class="fa fa-comments-o"></i>4 <a href="#">Comments</a> </span>
          </div>
          <!-- entity_social -->

      </div>
      <!-- entity_footer -->

  </div>
  <!-- entity_wrapper -->

{% endblock %}
