{% extends 'blog/base.html' %}

{% block title %}
Klondike-x
{% endblock %}

{% block menu %}

<div class="main-menubar d-flex align-items-center">
  <nav class="hide">

    {% if user.is_authenticated %}
    <a class="genric-btn success-border circle" href="javascript:{document.getElementById('logout').submit()}"> Logout</a>
    <form class="" id="logout" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="" value="">
        </form>
   {% else %}
   <a href="{% url 'login' %}" class="genric-btn success-border circle">Login</a>
   <a href="{% url 'signup' %}" class="genric-btn success-border circle">Signup</a>
   {% endif %}
  </nav>
  <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
</div>
{% endblock %}

{% block news%}
<div class="banner-content">
  <h1 class="text-white text-uppercase mb-10">{{ news.title }}</h1>
  <p class="text-white mb-30">{{ news.text }}</p>
  <a href="{{ news.link }}" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Read More</span><span class="lnr lnr-arrow-right"></span></a>
</div>
{% endblock %}


{% block content %}
{% for post in posts%}

<div class="col-md-4 mt-4">
  <div class="card profile-card-5 bg-color-news">
    <strong class="d-inline-block mb-2 text-primary">Category: <a href="{% url 'list_of_post_category' post.category.slug %}">{{ post.category }}</a></strong>
    <div class="mb-1 text-muted">{{ post.date }}</div>
    <div class="card-img-block">
      <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
    </div>
    <div class="card-body pt-0">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.summary | safe }}</p>
      <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read more &rarr;</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}


{% block page %}
<div class="paginator container text-center">
  <div class="col-lg-4 col-lg-offset-4">
    <br>
  {% if posts.has_previous %}
  <a class="genric-btn success-border circle arrow" href="?page=1"><span class="lnr lnr-arrow-left"></span><span class="lnr lnr-arrow-left"></span>|</a>
  <a class="genric-btn success-border circle arrow" href="?page={{ posts.pervious_page_number }}"><span class="lnr lnr-arrow-left"></span>|</a>
  {% endif %}
  {% for num in posts.paginator.page_range %}
  {% if posts.number == num %}
  <span class="genric-btn info circle" >{{ num }}</span>
  {% elif num > posts.number|add:'-5' and num < posts.number|add:'5' %}
  <a class="genric-btn info circle" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}
  {% if posts.has_next %}
   <a class="genric-btn success-border circle arrow" href="?page={{ posts.next_page_number }}">|<span class="lnr lnr-arrow-right"></span></a>
  <a class="genric-btn success-border circle arrow" href="?page={{ posts.paginator.num_pages }}">|<span class="lnr lnr-arrow-right "></span><span class="lnr lnr-arrow-right "></span></a>
  {% endif %}
</div>
</div>
{% endblock %}
