{% extends 'blog/base.html' %}


{% block content %}
<div class="col-md-8">
{% for post in posts%}
<div class="entity_wrapper">
    <div class="entity_title">
        <h1><a href="{% url 'detail' post.id %}" target="_self">{{ post.title }}</a>
        </h1>
    </div>
    <!-- entity_title -->

    <div class="entity_meta">
        <a href="#">{{ post.date }}</a>, Category: <a href="{% url 'list_of_post_category' post.category.slug %}">{{ post.category }}</a>
    </div>
    <!-- entity_meta -->


    <div class="entity_thumb">
        <img class="img-responsive" src="{{ post.image.url }}" alt="feature-top" height="300" width="400">
    </div>

    <div class="entity_content">
        <p class="blockquote">
          {{ post.summary | safe }}

        </p>
    </div>
    <!-- entity_content -->
    <div class="entity_footer">
        <div class="entity_tag">
            <span class="blank"><a href="{% url 'detail' post.id %}">Read More</a></span>
        </div>
        <!-- entity_tag -->

        <div class="entity_social">
            <span><i class="fa fa-eye"></i> {{ post.watch_total }} <a href="#">Watched</a> </span>
            <span><i class="fa fa-comments-o"></i> {{ post.comments.count }} <a href="#">Comments</a> </span>
        </div>
        <!-- entity_social -->

    </div>
</div>
<!-- entity_wrapper -->
<hr>
{% endfor %}
{% endblock %}


{% block page %}


<nav aria-label="Page navigation" class="pagination_section">
    <ul class="pagination">
      {% if posts.has_previous %}
        <li>
            <a href="?page={{ posts.pervious_page_number }}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
        </li>
        {% endif %}
        {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
        <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% elif num > posts.number|add:'-6' and num < posts.number|add:'6' %}
        <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li>
            <a href="?page={{ posts.next_page_number }}" aria-label="Next" class="active"> <span aria-hidden="true">&raquo;</span> </a>
        </li>
        {% endif %}
    </ul>
</nav>
</div>
{% endblock %}

{% block homeblock %}
<div class="col-md-4">

  <div class="widget m30">
      <div class="widget_title widget_black">
          <h2><a href="#">News</a></h2>
      </div>

      <div class="widget_body"><img class="img-responsive left" src="{{ news.image.url }}"
                                    alt="Generic placeholder image" height="150" width="200">
          <h3>{{ news.title }}</h3>

          <p>{{ news.text | safe }}</p>
          <form>
            {% csrf_token %}
            <input type="button" value="Read More" onclick="window.location.href='{{ news.link }}'" />
          </form>
      </div>
      <hr>
  </div>

<div class="widget">
    <div class="widget_title widget_black">
        <h2><a href="#">Popular Posts</a></h2>
    </div>
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">
              {% if empty %}
              <h2>No posts</h2>
              {% else %}
              {% for post in popular_posts|slice:"1:" reversed %}

              <p><a href="{% url 'detail' post.id %}" target="_self">{{ post.title }}</a></p>
                {% endfor %}
                {% endif %}
        </div>
    </div>
    <hr>
</div>
<!-- Popular News -->



<div class="widget m30">
    <div class="widget_title widget_black">
        <h2><a href="#">Most Commented</a></h2>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img class="media-object" src="assets/img/pop_right1.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="single.html" target="_self">Yasaki camera launches new generic hi-speed shutter camera.</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&nbsp;&raquo; </a></p>
</div>
<!-- Most Commented News -->


<!-- Editor News -->





<!--Advertisement-->
</div>
{% endblock %}
