{% extends 'blog/base.html' %}

{% block title %}
{{ site_settings.site_title }}
{% endblock %}

{% block menu %}
<div class="main-menubar d-flex align-items-center">
  <nav class="hide">
    <a href="http://github.com/xor0x" target="_blank">GitHub</a>
    <a href="{% url 'portfolio' %}">Portfolio</a>

  </nav>
  <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
</div>
{% endblock %}


{% block content %}
{% for post in post%}
<div class="col-md-4 mt-4">
  <div class="card profile-card-5 bg-color-news">
    <strong class="d-inline-block mb-2 text-primary">Category: <a href="{% url 'list_of_post_category' post.category.slug %}">{{ post.category }}</a></strong>
    <div class="mb-1 text-muted">{{ post.date }}</div>
    <div class="card-img-block">
      <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
    </div>
    <div class="card-body pt-0">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.summary }}</p>
      <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read more &rarr;</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
