{% extends 'blog/base.html' %}

{% block title %}
{{ site_settings.site_title }}
{% endblock %}

{% block menu %}
<div class="main-menubar d-flex align-items-center">
  <nav class="hide">
    <a href="http://github.com/xor0x" target="_blank">GitHub</a>
    <a href="{% url 'portfolio' %}">Portfolio</a>

  </nav>
  <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
</div>
{% endblock %}


{% block content %}
{% for post in post%}
<div class="col-md-6">

<div class="category_article_body">

           <div class="top_article_img">
               <img class="img-responsive" src="{{ post.image.url }}" height="200" width="350"alt="feature-top">
           </div>
           <!-- row -->

           <div class="category_article_title">
               <h5><a href="{% url 'detail' post.id %}" target="_blank">{{ post.title }}</a></h5>
           </div>
           <!-- row -->

           <div class="article_date">
               <a href="#">{{ post.date }}</a>, Category: <a href="{% url 'list_of_post_category' post.category.slug %}">{{ post.category }}</a>
           </div>
           <!-- row -->

           <div class="category_article_content">
               {{ post.summary | safe }}
           </div>
           <!-- row -->

           <div class="article_social">
               <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
               <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
           </div>

           <!-- row -->

       </div>

</div>
{% endfor %}
{% endblock %}
